<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars web application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape that sweet Mars data</a></p>
    </div>

      {{ mars_data.news_title }} <br><br>
      {{ mars_data.news_p }} <br><br>
      <a href={{ mars_data.featured_image_url }}><img src={{ mars_data.featured_image_url }} style="width: 50%;"></a> <br><br>
      
      {{ mars_data.mars_html_table }} <br>

  </div>
</body>

</html>
